<a href="https://colab.research.google.com/github/alwinbino/ict_assignments/blob/main/Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***ASSIGNMENT 3***

**Q1**

In [ ]:
def biggest(a,b,c):
  if a>b and a>c:
    print(a,'is the biggest')
  elif b>a and b>c:
    print(b,'is the biggest')
  else:
    print(c,'is the biggest')

In [ ]:
x = int(input('enter the first number:'))
y = int(input('enter the second number:'))
z = int(input('enter the third number:'))
biggest(x,y,z)

enter the first number:33
enter the second number:44
enter the third number:55
55 is the biggest

## *2*

In [ ]:
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers

l = [1, 2, 3, 4, 5]
print(sum_list(l))

15

# *3*

In [ ]:
l=[10,20,30,40]
n=int(input("enter no to be inserted:"))
m=int(input("emter possiton to be inserted(index)"))
if 0<=m<=len(l):

  l.insert(m,n)
  print(l)
else:
  print("invalid index")

enter no to be inserted:2
emter possiton to be inserted(index)3
[10, 20, 30, 2, 40]

# ***4***

In [ ]:
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
sample_dict["location"] = sample_dict.pop("city")
print("Updated dictionary:", sample_dict)

Updated dictionary: {'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

# ***5***

In [ ]:
sample_dict = {'emp1': {'name': 'Jhon', 'salary': 7500},
               'emp2': {'name': 'Emma', 'salary': 8000},
               'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print("Updated dictionary:", sample_dict)

Updated dictionary: {'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

# ***6***

In [ ]:
sample_tuple = (11, 22, 33, 44, 55, 66)
print(f"Original tuple: {sample_tuple}")
new_tuple = (sample_tuple[3], sample_tuple[4])
print(f"New tuple with elements 44 and 55: {new_tuple}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

# ***7***

In [ ]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print("Number of occurrences of 50:", count)

Number of occurrences of 50: 3